body {
    margin: 0;
        font-family: Poppins, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    height: 70px;
    background: white;
    box-sizing: border-box;
}

.navbar h2 {
    margin: 0;
    font-size: 20px;
    flex: 1;
    text-align: center;
}

.hero {
    height: 462px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 100px;
}

.bubble {
    background: rgba(255, 182, 193, 0.416);
    padding: 40px 60px;
    border-radius: 20px;
    transform: translateY(-50px);
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    max-width: 500px;
    width: 90%;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.bubble p {
    margin: 10px;
    font-size: 18px;
}

.link {
    text-decoration: underline;
}

.logout-link {
    background: none;
    border: none;
    margin-right: 5px;

    font-size: 16px;
    color: black;
    cursor: pointer;

    text-decoration: none;
}

.logout-icon {
    width: 18px;
    height: 18px;
    transform: translateY(3px);
    margin-left: 5px;
}
