body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    height: 70px;
    background: white;
    position: relative;
    box-sizing: border-box;
}

.logo {
    width: 40px;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
}

.navbar h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.greeting {
    background: #e5c1c1;
    padding: 30px;
}

.greeting h3 {
    margin: 0;
}

.user-section {
    background: white;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu-item {
    text-align: center;
    cursor: pointer;
        text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-item img {
    width: 45px;
    height: 45px;
}

.menu-shipping img,
.menu-finished img{
    width: 45px;
    height: 37px;
}

.menu-catalog img{
    width: 43px;
    height: 38px;
}

.menu-shipping,
.menu-finished,
.menu-catalog {
     text-align: center;
    cursor: pointer;
    text-decoration: none;   /* hilangkan underline */
    color: black;            /* biar teks tidak biru */
}

.menu-item p {
    margin-top: 10px;
}

.contact {
    display: flex;
    background: #e5c1c1;
    padding: 40px;
    gap: 30px;
    align-items: center;
}

.map {
    margin-left: 80px;
}

.info {
    margin-left: 50px;
}

.info h2 {
    font-size: 30px;
}

.navbar a:hover {
    text-decoration: underline;
    color: #8b2e2e;
}
