body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header h2 {
    margin: 0;
}

.content {
    padding-bottom: 100px;
}

.alamat {
    background: white;
    padding: 30px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.alamat h4 {
    margin: 0 0 5px 0;
}

.alamat p {
    margin: 0;
    font-size: 13px;
    color: black;
}

.section-pink {
    background: #e5c1c1;
    padding: 15px;
}

.produk-item {
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.produk-img img {
    width: 90px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 0 5px 0;
    margin-left: 13px;
}

.produk-detail {
    margin-left: 25px;
}

.produk-detail h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-style: bold;
}

.harga {
    margin: 5px 0;
    color: #8b2e2e;
    font-weight: bold;
    font-size: 14px;
}

.jumlah {
    margin: 0;
    font-size: 12px;
    color: #555;
}

.payment {
    background: #e5c1c1;
    padding: 15px 20px;
    border-top: 1px solid #eee;
}

.payment h4 {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.payment p {
    margin: 0;
    font-size: 14px;
}

.payment select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    background: white;
}

.checkout-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-top: 1px solid #ddd;
}

.total p {
    margin: 0;
    font-size: 12px;
}

.total span {
    font-weight: bold;
    font-size: 14px;
}

.checkout-bar button {
    background: #8b2e2e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 40px;
}

.checkout-bar button:hover {
    background: #6f2222;
}

.informasi {
    background: white;
    padding: 30px;
}

.informasi h4 {
    margin: 0 0 10px 0;
    font-size: 14px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.info-item span:first-child {
    color: black;
}

.info-item span:last-child {
    color: #999;
}

.pengiriman {
    background: #e5c1c1;
    padding: 30px;
}

.pengiriman h4 {
    margin: 0 0 8px 0;
    font-size: 14px;
}

.kurir {
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #333;
}

.pengiriman-detail {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.pengiriman-detail span:first-child,
.pengiriman-detail span:last-child {
    color: #333;
}

.pengiriman-detail span:last-child {
    font-weight: 500;
}

.catatan {
    background: white;
    padding: 30px;
}

.catatan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.catatan-item span:first-child {
    color: black;
}

.catatan-item span:last-child {
    color: #999;
}

.catatan-item:last-child span:last-child {
    font-weight: bold;
    color: #333;
}

.title-icon {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.title-icon img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}
